.dtbody {
  user-select: none;
}

.dt {
  min-width: 100%;
  overflow: auto;
  height: 800px;

  .table .MuiCheckbox-root {
    padding: 6px;
  }
}

.dtr {
  display: grid;
  grid-template-columns: var(--cols);
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.dtd {
  border-bottom: 1px solid #ddd; /* replace with your palette divider color */
  display: flex;
  align-items: center;
  width: 120px;
  border-right: 1px solid #ddd; /* replace with your palette divider color */
  text-align: left;
  padding: 0 0px 0 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dtd.selected {
  background-color: color-mix(in srgb, var(--mui-palette-primary-main), transparent 90%);
  outline: 1px solid var(--mui-palette-primary-main);
  /*border-top: 1px solid var(--mui-palette-primary-main);*/
  /*border-left: 1px solid var(--mui-palette-primary-main);*/
}
