.dt {
  min-width: 100%;
  overflow: auto;
  height: 800px;
}

.dtr {
  display: grid;
  grid-template-columns: var(--cols);
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ddd; /* replace with your palette divider color */
}

.dtd {
  vertical-align: middle;
  width: 120px;
  border-right: 1px solid #ddd; /* replace with your palette divider color */
  text-align: left;
  padding: 0 0px 0 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}