.dt {
  min-width: 100%;
  overflow: auto;
  height: 800px;

  .MuiCheckbox-root {
    padding: 6px;
  }
}

.dtbody {
  user-select: none;
}

.dtd.td-index {
  justify-content: center;
  padding: 0;
  background: none;
  color: var(--mui-palette-text-disabled)
}


.dtr {
  display: grid;
  grid-template-columns: var(--cols);
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


.dtd {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--mui-palette-divider);
  border-right: 1px solid var(--mui-palette-divider);
  text-align: left;
  padding: 0 0px 0 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: var(--mui-palette-background-default);

  &.td-id {
    color: var(--mui-palette-info-main);
    font-weight: bold;
  }

  &.td-right {
    padding-right: 2px;
    padding-left: 0;
    justify-content: flex-end;
  }

  &.td-center {
    justify-content: center;
  }

  &.skeleton {
    padding-right: calc(var(--mui-spacing) * 2);
    padding-left: calc(var(--mui-spacing) * 2);
  }
}

.dtd.selected {
  background-color: color-mix(in srgb, var(--mui-palette-primary-main), transparent 90%);
  outline: 1px solid var(--mui-palette-primary-main);
  border-bottom: 1px solid var(--mui-palette-primary-main);
  border-right: 1px solid var(--mui-palette-primary-main);
  /*border: 1px solid var(--mui-palette-primary-main);*/
  /*box-shadow: 0 0 0 1px var(--mui-palette-primary-main);*/

  /*border-top: 1px solid var(--mui-palette-primary-main);*/
  /*border-left: 1px solid var(--mui-palette-primary-main);*/
}

.dt-toolbar {
  padding: calc(var(--mui-spacing) / 2);
  display: flex;
  align-items: center;
}
